PRIVATE_KEY="**********************************"
ALCHEMY_API_KEY="**********************************"
CONTRACT_ADDRESS="cb883c97860e0B367bB1b3c6C4bC5CedFd1c35D6"


MNEMONIC="here is where your extracted twelve words mnemonic phrase should be put"
POKT_API_KEY="********************************"
INFURA_API_SECRET="********************************"
INFURA_API_KEY="********************************"
ETHERSCAN_API_KEY="********************************"