PRIVATE_KEY="**********************************"
ALCHEMY_API_KEY="**********************************"


MNEMONIC="here is where your extracted twelve words mnemonic phrase should be put"
POKT_API_KEY="********************************"
INFURA_API_SECRET="********************************"
INFURA_API_KEY="********************************"
ETHERSCAN_API_KEY="********************************"